body{
	margin: 10px;
	padding:5px;
}
header{
	    text-align: center;
	    background-image: url("z.jpg");
	    background-position: 30% 0%;
        padding:5px 5px 50px ;
}
h1{
	text-align: center;
	font-size: 100%;
	color:rgb(255,255,255);
	text-transform: uppercase;

}
nav a{

	display: inline-block;
	width: 7%;
	color: #000000;
	text-decoration: none;
	background-color: rgba(250,250,250,0.3);
	border-radius: 5px;
	margin-right: 7%;
	margin-left: 7%;
	padding:1% 1.8% 1%;
}
.active{
	background-color: rgb(255,255,255);
	color: rgb(100,0,255);
}

.left,.right{
	display: inline-block;
	float:left;
}
.left{
	width: 17%;
	background-color: #809113;
}
.left a>img{
	border:solid #000000 2px;
	display:block;
	width:80%;
	margin: 10%;
}
.right{
	width: 80%;
	margin: 0.5%;
}
